<form action = "/add" method = "post">
	<input value="<%= @first_no %>"  type="text" name="first_no" >
	<input value="<%= @second_no %>" type="text" name="second_no">
	<input type="submit" value="add">
</form>

<%= @result %>