<div class="container">
	<div class="col-md-6">
		<form action = "/div" method = "post">
			<input type="submit" class="button" value="รท">
		</form>

		<form action = "/multi" method = "post">
			<input type="submit" class="button" value="*">
		</form>

		<form action = "/add" method = "post">
			<input type="submit" class="button" value="+">
		</form>

		<form action = "/sub" method = "post">
			<input type="submit" class="button" value="-">
		</form>

		
	</div>
</div>