.button {
    display: inline-block;
  border-radius: 4px;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 120px;
  cursor: pointer;
  margin: 0px;
}

form {
    display: inline-block;
}

#selectable .ui-selected { 
  background: #F39814; 
  color: white;
   }

#selectable li {
 margin: 3px;
  padding: 1px;
   float: left;
    width: 100px;
     height: 80px;
      font-size: 4em;
       text-align: center;
        }